@import url('https://rsms.me/inter/inter.css');
body {
  background: #000;
  font-family: Inter, sans-serif;
  font-weight: 800;
  margin: 0;
}
.container {
  height: 200vh;
  width: 100vw;
}
.top {
  background: #fff;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
img {
    object-fit: contain;
}
.image {
  height: 100vmax;
  left: calc(50% - 75vmax);
  width: 150vmax;
  top: calc(50% - 50vmax);;
  position: absolute;
}
.image2 {
  opacity: var(--opacity);
}
#left {
    position: absolute;
    left: 0;
}
.top-title {
  color: white;
  font-size: 12vmax;
  letter-spacing: 0.5vmax;
  position: absolute;
  top: calc(40% - 6vmax);
  left: 0;
  text-align: center;
  transform: translateX(var(--moveY));
  width: 100%;
}
.bottom {
  color: white;
  height: 100vh;
}
.bottom-title {
  box-sizing: border-box;
  font-size: 40px;
  padding-top: 70px;
  text-align: center;
  width: 100%;
}
.bottom-body {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 40px 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 677px) {
  .bottom-body {
    font-size: 16px;
    line-height: 22px;
    padding: 30px 20px 0;
  }
}