* {
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: block;
    background-color: rgb(49, 49, 49);
    position: absolute;
    min-height: 100vh;
}
img {
    width: 100%;
    height: auto
}
#mainBackground {
    width: 100%;
}
#snekkieDragon{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 56.4%;
}
#snekkieCounting {
    position: absolute;
    display: block;
    width: 28.89%;
    top: 0;
    left: 0;
    margin-left: 40.56%;
    margin-top: 48.46%;
}
#snekkieCart {
    position: absolute;
    display: block;
    width: 27.4%;
    top: 0;
    left: 0;
    margin-left: 12.31%;
    margin-top: 19.47%;
}
#snekkieMine {
    position: absolute;
    display: block;
    width: 25.28%;
    top: 0;
    left: 0;
    margin-left: 38.15%;
    margin-top: 79.44%;
}
#snekkieHole {
    position: absolute;
    display: block;
    width: 9.72%;
    top: 0;
    left: 0;
    margin-left: 18.43%;
    margin-top: 118.03%;
}
#snekkiePickaxe {
    position: absolute;
    display: block;
    width: 33.43%;
    top: 0;
    left: 0;
    margin-left: 50.65%;
    margin-top: 119.59%;
}
#snekkieSleeping {
    position: absolute;
    display: block;
    width: 12.5%;
    top: 0;
    left: 0;
    margin-left: 80.28%;
    margin-top: 159.8%;
}
#snekkieMap {
    position: absolute;
    display: block;
    width: 36.01%;
    top: 0;
    left: 0;
    margin-left: 49.07%;
    margin-top: 178.28%;
}